<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7fc37a">  <td>20/01/09 22:01:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChannelsTestSuite.EmpCanDeleteC11()[pri:2, instance:demo.co.testScripts.ChannelsTestSuite@5db45159]">EmpCanDeleteC11</td> 
  <td>TestNG-tests-2@665082000</td>   <td></td> </tr>
<tr bgcolor="7fc37a">  <td>20/01/09 22:01:52</td>   <td>10779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ChannelsTestSuite.EmpCanDeleteC11()[pri:2, instance:demo.co.testScripts.ChannelsTestSuite@161b062a]">EmpCanDeleteC11</td> 
  <td>TestNG-tests-1@687138951</td>   <td></td> </tr>
<tr bgcolor="9da28c">  <td>20/01/09 22:02:29</td>   <td>48200</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterTest()[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@5db45159]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@665082000</td>   <td></td> </tr>
<tr bgcolor="9da28c">  <td>20/01/09 22:02:39</td>   <td>57323</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.afterTest()[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@161b062a]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@687138951</td>   <td></td> </tr>
<tr bgcolor="9da28c">  <td>20/01/09 22:01:11</td>   <td>-30737</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@5db45159]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@665082000</td>   <td></td> </tr>
<tr bgcolor="9da28c">  <td>20/01/09 22:01:11</td>   <td>-30737</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.beforeTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@161b062a]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@687138951</td>   <td></td> </tr>
<tr bgcolor="9da28c">  <td>20/01/09 22:01:10</td>   <td>-30954</td> <td title="&gt;&gt;BaseClass.setUp()[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@5db45159]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="9da28c">  <td>20/01/09 22:02:40</td>   <td>58758</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@5db45159]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2041416495</td>   <td></td> </tr>
<tr bgcolor="9da28c">  <td>20/01/09 22:02:28</td>   <td>46988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown(org.testng.ITestResult)[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@5db45159]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@665082000</td>   <td></td> </tr>
<tr bgcolor="9da28c">  <td>20/01/09 22:02:38</td>   <td>56526</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.teardown(org.testng.ITestResult)[pri:0, instance:demo.co.testScripts.ChannelsTestSuite@161b062a]">&lt;&lt;teardown</td> 
<td>&nbsp;</td>  <td>TestNG-tests-1@687138951</td>   <td></td> </tr>
</table>
